@page
@model StudentManagement.Pages.Courresess.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h3>@ViewData["Title"]</h3>
<hr />
<div class="row shadow">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="ACourse.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ACourse.CourseName" class="control-label"></label>
                <input asp-for="ACourse.CourseName" class="form-control" />
                <span asp-validation-for="ACourse.CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ACourse.CourseDayofweek" class="control-label"></label>
                <input asp-for="ACourse.CourseDayofweek" class="form-control" />
                <span asp-validation-for="ACourse.CourseDayofweek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACourse.CourseTime" class="control-label"></label>
                <input asp-for="ACourse.CourseTime" class="form-control" />
                <span asp-validation-for="ACourse.CourseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
 }
